// Page specific styles

@import "archive";
@import "categories";
@import "post-detail";
.posts-expand a{
  color: #0593d3;
  border-bottom: none;
  margin-right: 3px;
      &:hover {
      color: #0477ab;
      text-decoration: none;
      }
}

