// Page specific styles

@import "archive";
@import "categories";
@import "post-detail";
p a{
  color: #0593d3;
  border-bottom: none;

      &:hover {
      color: #0477ab;
      text-decoration: none;
      }
}

